<div class="container" id="display_win">
    
    <form method="POST">
      {{form.csrf_token}}
      {{form.select_ver.label}}
      <br/>
      {{form.select_ver(class="form-select form-select-lg mb-3")}}
      {{form.submit(class="btn btn-primary")}}
    </form>
    {% if(display_vecs == "True") %} 
    <br/>
      
    <div class="container" id="display_graph">
        <h2>Vector Embedding Representation</h2>

        <img src="data:image/png;base64, {{ plot_url }}">
    </div>
    {% endif %}
</div>