<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VENOM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" 
     integrity="sha512-   
  +l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" 
  crossorigin="anonymous"></script> -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link CSS -->
    <!-- <script src="{{ url_for('static', filename='socket.js') }}"></script>  Link JS -->
  </head>
  <body>
    <div class="container">
        <div class="button-box col-lg-12">
            <!-- <button type="button" class="btn btn-primary" onclick="window.location.href = '/add_item' ; ">Load Data</button> -->
            <button type="button" class="btn btn-primary" id="nav_buttons" onclick="window.location.href = '/onclick_load_data' ; ">Load Data</button>
            <button type="button" class="btn btn-primary" id="nav_buttons" onclick="window.location.href = '/onclick_vec' ; ">Vectorisation</button>
            <button type="button" class="btn btn-primary" id="nav_buttons" onclick="window.location.href = '/sim_search' ; ">Similarity Search</button>
            <button type="button" class="btn btn-primary" id="nav_buttons" onclick="window.location.href = '/op_model' ; ">Operator Modelling</button>
            <button type="button" class="btn btn-primary" id="nav_buttons" onclick="window.location.href = '/show_tasks' ; ">Tasks</button>
        </div>
    </div>

    {% if(page_name == "load_data") %} 
      {% include 'load_data.html' %}
    {%elif page_name == "vectorisation"%}
        {% include 'vectorisation.html' %}
    {%elif page_name == "display_vectors"%}
        {% include 'display_vectors.html' %}
    {%elif page_name == "display_sim_vectors"%}
        {% include 'display_vectors.html' %}
    {%elif page_name == "sim_search_vectors"%}
        {% include 'sim_search_vectors.html' %}
    {%elif page_name == "similarity_search" %}
        {% include 'similarity_search.html' %}
    {%elif page_name == "operator_modelling"%}
        {% include 'op_modelling.html' %}
    {%elif page_name == "operator_modelling_display"%}
        {% include 'op_modelling_display.html' %}
    {%elif page_name == "display_tasks"%}
        {% include 'tasks.html' %}
    {%elif page_name == "show_datasets"%}
        {% include 'display_datasets.html' %}
    {% else %} 
    <div class="container" id="empty_cont">


    </div>    
    {% endif %} 

    
  </body>
</html>