<div class="container" id="loadData">
    <!-- <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Tabular Dataset
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Graph Dataset
      </label>
    </div>
    
    <form method="POST">      

      <br />
      <input class="form-control" type="text" placeholder="Dataset Filepath" name="filepath">
      <br />
      <input class="form-control" type="text" placeholder="Dataset Name">
      <br />

    <button type="submit" class="btn btn-primary" onclick="window.location.href = '/onclick_upload_data' ; ">Upload Data</button>
  </form> -->
  <form method="POST" class="form-class"> 
      {{ form.hidden_tag()}}

      {{form.Dataset_type.label( class="form-check-label")}}
      {{form.Dataset_type(
        class="form-check-input"
      )}}
      <br/>
      {{form.Dataset_DIR.label( class="form-label")}}
      {{form.Dataset_DIR(
        class="form-control"
      )}}
      <br/>
      {{form.Dataset_Name.label( class="form-label")}}
      {{form.Dataset_Name(
        class="form-control"
      )}}
      <br/>
      {{form.submit(class="btn btn-primary")}}
  </form>
</div>