<div class="container" id="display_win">
   <form method="POST">
    {{form.csrf_token}}
    {{form.avail_op_models.label}}
    <br/>
    {{form.avail_op_models(class="form-select form-select-lg mb-3")}}
    {{form.submit(class="btn btn-primary")}}
  </form>
  
    {% if(display_plot == "True") %} 
    <br/>
    
    <div class="container" id="display_graph">    
      <h2>Operator Modelling Prediction Results</h2>
      <br/>
      {{desc_p|safe}}
      <br/>
      <table class="table" align="center" style="margin: 0px auto;">
        <thead class="thead-dark">
            </tr>
                <th scope="col">RMSE</th>
                <th scope="col">MAE</th>
                <th scope="col">MAD</th>
                <th scope="col">Execution Time</th>
            </tr>
        </thead>
        {% for row_tuple in task_form.field_list %}
        <div>
            <tbody>
                <tr>
                </tbody>
                    <td>{{row_tuple.rmse(class="form-control", disabled=True)}} </td>
                    <td>{{row_tuple.mae(class="form-control", disabled=True)}}</td>
                    <td>{{row_tuple.mad(class="form-control", disabled=True)}} </td>
                    <td>{{row_tuple.exec_time(class="form-control", disabled=True)}} </td>
                </tr> 
            </tbody>
        </div>
        {% endfor %}
    </table> 
    </div>
  {% endif %}
</div>

