<div class="container" id="display_vecs">
    
    <!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"> -->
   <!--    <option selected>Vector Embedding Representation</option>
        {% for vec_name in vec_repr %}
            <option value="1">{{vec_name}}</option>
        {% endfor %}
    </select>

    <button type="button" class="btn btn-primary", onclick="">Display</button> -->
    <!-- <form method="POST">
      {{form.csrf_token}}
      {{form.sim_search_name.label}}
      {{form.sim_search_name(
        class="form-control"
      )}}
      <br/>
      {{form.select_sim_search.label}}
      <br/>
      {{form.select_sim_search(class="form-select form-select-lg mb-3")}}
      <br/>
      {{form.sim_search_name.label}}
      <br/>
      {{form.form.sim_search_name(class="form-select form-select-lg mb-3")}}
      <br/>
      {{form.submit(class="btn btn-primary")}}
    </form> -->
</div>